label.asbab-coupon-label {
  display: block;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .9rem;
  margin-bottom: 5px;
}

.ht__coupon__code > button.button {
  background: #212121 none repeat scroll 0 0;
  border-radius: unset;
  color: white;
  font-size: .9rem;
  line-height: 56px;
  font-weight: 500;
  height: 56px;
  padding: 0 27px;
  margin-left: -98px;
  text-transform: uppercase;
}

.coupon input[type=text] {
  background: white;
  border: none;
  float: left;
  height: 56px;
  margin: 0 6px 20px 0;
  max-width: 100%;
  padding: 0 100px 0 10px;
  width: 100%;
}

.col-md-6 > .buttons-cart >button.button.checkout--btn {
  background: #ebebeb none repeat scroll 0 0;
  float: right;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border: none;
  border-radius: initial;
  font-weight: 500;
  height: 62px;
  line-height: 62px;
  padding: 0 33px;
  text-transform: uppercase;
  display: inline-block;
}

.row.asbab-cart-buttons {
  margin-bottom: 70px;
}

.buttons-cart a{
  border-radius: unset;
  color: #3f3f3f;
}

a.btn.asbab-btn-checkout {
  float: right;
  margin-left: 1rem;
}

.buttons-cart {
  margin-top: 0.5rem;
}


.wc-proceed-to-checkout a {
  background: #252525 none repeat scroll 0 0;
  /* display: block; */
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  width: 100%;
  justify-content: center;
  display: flex;
  line-height: 50px;
  margin-top: 20px;
  padding: 0 30px;
  text-transform: none;
}

a.woocommerce-remove-coupon {
  color: black;
  background: #f5f5f4;
  padding: 10px;
}

a.btn.asbab-btn-shopping {
  background: #ebebeb none repeat scroll 0 0;
  color: #252525;
  font-size: .9rem;
  //display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 10px;
  border-radius: unset;
  height: 65px;
  /* padding: 0; */
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}


a.btn.asbab-btn-shopping:hover{
  background: #252525;
  color: #ffffff;
  font-size: .9rem;
}

a.btn.asbab-btn-shopping.asbab_cart-totals_shopping{
  display: flex;
  line-height: 50px !important;
}


@media screen and (max-width: 592px){

}