/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set {
		.form-row-first {
			float: left;
			margin-right: $columns__margin;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {
			@include column-width(2);
		}
	}
}

/**
Checkout /Mohammed Rezq
*/

.col-md-4.asbab_order_products_checkout {
	background: #f4f4f4;
	padding: 1.5rem;
}

.asbab-your-order-title.text-center{
	padding: 30px 0;
	margin: 0 15px;
	border-bottom: 1px solid #ebebeb;
	text-transform: uppercase;
	//text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 600;
	color: #3f3f3f;
}

div#order_review {
  margin-top: 1em;
}

.woocommerce-form-coupon-toggle {
	margin-bottom: 1rem;
}