
@media screen and(min-width: 768px) {
  .woocommerce > .row > .col-sm-3 {
    float: right;
  }
}

.woocommerce >.row >.col-sm-3 {

  nav.woocommerce-MyAccount-navigation {

    ul {
      list-style: none;
      margin-left: 0;
    }
  }
}

nav.woocommerce-MyAccount-navigation > ul > li {
  border-bottom: 1px solid #efefef;
  padding: 1rem;
}

nav.woocommerce-MyAccount-navigation > ul > li.is-active > a:after {
  color: #c43b68;
  font-size: 1.1rem;
}

nav.woocommerce-MyAccount-navigation > ul > li > a {
  color: #c43b68;
  display: flex;
  justify-content: space-between;
}

nav.woocommerce-MyAccount-navigation > ul > li:nth-child(1) > a:after {
  content: "\F0E4";
  font-family: $font__awesome;
  color: #c49ab4;
  font-size: 1.3rem;
}

nav.woocommerce-MyAccount-navigation > ul > li:nth-child(2) > a:after {
  content: "\f217";
  font-family: $font__awesome;
  color: #c49ab4;
  font-size: 1.3rem;
}

nav.woocommerce-MyAccount-navigation > ul > li:nth-child(3) > a:after {
  content: "\f019";
  font-family: $font__awesome;
  color: #c49ab4;
  font-size: 1.3rem;
}

nav.woocommerce-MyAccount-navigation > ul > li:nth-child(4) > a:after {
  content: "\f2bb";
  font-family: $font__awesome;
  color: #c49ab4;
  font-size: 1.3rem;
}

nav.woocommerce-MyAccount-navigation > ul > li:nth-child(5) > a:after {
  content: "\f2bd";
  font-family: $font__awesome;
  color: #c49ab4;
  font-size: 1.3rem;
}

nav.woocommerce-MyAccount-navigation > ul > li:nth-child(6) > a:after {
  content: "\f08b";
  font-family: $font__awesome;
  color: #c49ab4;
  font-size: 1.3rem;
}

nav.woocommerce-MyAccount-navigation > ul > li.is-active > a:after{
  color: #c43b68;
}

//li.woocommerce-MyAccount-navigation-link.is-active > a{
//  color: black;
//}

table thead th {
  padding: 1.41575em;
  vertical-align: middle;
}
table th {
  background-color: #f8f8f8;
}

table tbody td {
  background-color: #fdfdfd;
}

table td, table th {
  padding: 1em 1.41575em;
  text-align: left;
  vertical-align: top;
}

@media (min-width: 768px){
table.shop_table_responsive tbody tr td, table.shop_table_responsive tbody tr th {
  text-align: left;
}
}
@media (max-width: 767.99px) {
  table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
}


  .u-column1.col-1.woocommerce-Address,
  .u-column2.col-2.woocommerce-Address {
    display: block;
    width: 100%;

    address{
      font-size: 1.2rem;
    }

  }
@media (min-width: 768px) {
  .u-columns.woocommerce-Addresses.col2-set.addresses {

    .u-column1.col-1.woocommerce-Address {
      width: 46.1764705882%;
      float: left;
      margin-right: 0.8823529412%;

    }

    .u-column2.col-2.woocommerce-Address {
      width: 52.9411764706%;
      float: right;
      margin-right: 0;
    }

  }
}

h3, .h3 {
  font-size: 1.3rem !important;
  font-weight: 400;
}

.woocommerce-Address-title > .asbab-edit-Addresses > h3 {
  font-weight: 500 !important;
  line-height: 35px;
}

.asbab-edit-Addresses {
  display: flex;
  justify-content: space-between;
  background: antiquewhite;
  padding: 8px;
}

.asbab-edit-Addresses>a.edit {
  font-size: 1.5rem;
  color: black;
}
.asbab-edit-Addresses>a.edit:hover {
  color: #c43b68;
}