/**
 * Products
 */
ul.products {
	@include clearfix;
	margin: 0;
	padding: 0;

	li.product {
		list-style: none;
		position: relative;
		margin-bottom: 2em;

		.woocommerce-loop-product__title {
			font-size: 1rem;
		}

		img {
			display: block;
		}

		.button {
			display: block;
		}
	}
}

@media screen and (min-width: 48em) {
	ul.products {
		li.product {
			@include column-width(3);
			float: left;
			margin-right: $columns__margin;

			&.first {
				clear: both;
			}

			&.last {
				margin-right: 0;
			}
		}
	}

	.columns-1 {
		ul.products {
			li.product {
				float: none;
				width: 100%;
			}
		}
	}

	@for $i from 2 through 6 {
		.columns-#{$i} {
			ul.products {
				li.product {
					@include column-width( $i );
				}
			}
		}
	}
}

nav.woocommerce-pagination {
	ul.page-numbers{
		list-style: none;
		display: flex;
		justify-content: center;
		margin-top: 60px;
		flex-wrap: wrap;
		li {
			margin: 0 5px;
          a.page-numbers{
			  background: #f6f6f6 none repeat scroll 0 0;
			  border-radius: 100%;
			  color: #3f3f3f;
			  display: inline-block;
			  font-family: "Poppins",sans-serif;
			  font-size: 13px;
			  font-weight: 600;
			  height: 45px;
			  line-height: 45px;
			  text-align: center;
			  transition: all 0.3s ease 0s;
			  width: 45px;
		  }
		span.page-numbers.current {
			background: #c43b68 none repeat scroll 0 0;
			color: #fff;
			border-radius: 100%;
			display: inline-block;
			font-family: "Poppins",sans-serif;
			font-size: 13px;
			font-weight: 600;
			height: 45px;
			line-height: 45px;
			text-align: center;
			transition: all 0.3s ease 0s;
			width: 45px;
		}
		}
	}
}