/**
 * Single Product
 */
.single-product {
	div.product {
		//@include clearfix;
		position: relative;

		.woocommerce-product-gallery {
			position: relative;

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 2em;
				right: 2em;
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: 1em;
			}

			.flex-control-thumbs {
				@include clearfix;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					cursor: pointer;
					float: left;

					img {
						opacity: .5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						li {
							@include column-width($i);

							&:nth-child(#{$i}n) {
								margin-right: 0;
							}

							&:nth-child(#{$i}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}
span.onsale {
	top: 1.5em;
	left: 2em;
	padding: 9px;
	position: absolute;
	z-index: 2;
	background: greenyellow;
	border-radius: 50%;
	color: darkslategray;
}

form.cart {
	display: flex;
	margin-bottom: 3rem;
}
.quantity {
	margin-right: .5rem;
}

.input-text.qty.text{
  width: 4.235801032em;
  text-align: center;
  padding: 0.5em;
  font-size: 1.3rem;
}

button.single_add_to_cart_button.button.alt {
	padding: 1rem;
	font-size: 1.2rem;
	border: none;
	background: black;
	color: white;
	border-radius: unset;
}

/* for swatches variations woocommerce plugin css editing*/
tbody > tr > td.label {
	padding: 0 !important;

	label {
		font-size: 1.5rem;
		color: #004380;
		text-transform: uppercase;
	}
}
	table.variations{
		width: 100%;
		margin: 0;

		tbody {

			tr {
				display: table-cell;
			}
		}
	}

	form.variations_form.cart {
		display: block;
	}
	.woocommerce-variation-add-to-cart {
		display: flex;
	}

.stock.in-stock {
	font-size: 1.2rem;
	color: red;
	font-weight: 500;
	margin-top: 1.5rem;
}