/**
 * WooCommerce Price Filter
 */
.widget_price_filter {
	.price_slider {
		margin-bottom: 1.5em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		cursor: ew-resize;
		outline: none;
		background: $color__link;
		box-sizing: border-box;
		margin-top: -.25em;
		opacity: 1;

		&:last-child {
			margin-left: -1em;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .25em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $color__link;
	}

	.price_slider_wrapper .ui-widget-content {
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
}


/*Woocommerce Widgets Mohammed Rezq*/
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail.wp-post-image {
	display: block;
}

ul.woocommerce-mini-cart.cart_list.product_list_widget {
	margin: 0;
	list-style: none;
}

a.remove.remove_from_cart_button {
  font-size: 1.3rem;
}

a.button.wc-forward {
	background: greenyellow;
	padding: 1rem;
	margin: 0 .2rem 0 0;
	color: black;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}

li.woocommerce-mini-cart-item.mini_cart_item {
	font-size: 1.2rem;
}

li.woocommerce-mini-cart-item.mini_cart_item > a {
	display: block;
	color: green;
	font-weight: 600;
	margin-top: 0.5rem;
}

ul>li > a > img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail.wp-post-image {
	margin-bottom: 10px;
}

ul.products li.product .button {
	display: block;
	padding: 5px 10px 5px 10px;
	background: black;
	color: greenyellow;
	text-align: center;
}

a.woocommerce-button.button.view:hover:after {
	color: black;
}

li.woocommerce-mini-cart-item.mini_cart_item > a.remove.remove_from_cart_button {
	color: black;
	display: inline-block;
	font-size: 1.6rem;
}

li.woocommerce-mini-cart-item.mini_cart_item > a.remove.remove_from_cart_button:hover {
	color: red;
}